<section class="row wrapper">
  <p class="log-in__title small-16">Log In With Google</p>
  <div class="log-in__buttons mt row small-16">
    <div class="column small-4">
      <button class="button button-red" (click)="singIn()">Log In</button>
    </div>
    <div class="column small-4">
      <button class="button button-grey column" (click)="singOut()">Log Out</button>
    </div>
  </div>
  <div class="get-list mt row small-16">
    <div class="column small-4">
      <button class="button button-red" (click)="getPlaylist()">get list</button>
    </div>
  </div>
</section>

