@import '../../assets/scss/base-part';
.mt {
  margin-top: 24px;
}
.sign-in__title {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
  @include mq-tablet {
    font-size: 20px;
    margin-top: 16px;
  }
}
.title-descr {
  font-size: 14px;
  color: #bebebe;
}
.sing-in {
  width: 100%;
  max-width: 250px;
}
