<article class="wrapper row search">
  <section class="small-16">
    <div class="title search-title">Поиск видео</div>
    <form class="search__form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="search__filter">
        <div class="search__max-result">
          <label for="maxResult">Количество видео</label>
          <input class="search__field max-result" type="tel" id="maxResult"  formControlName="maxResult">
        </div>
        <div class="search__type">
          <div class="search__type-title"> Искать в названии видео/плейлиста/канала</div>
          <div class="search__radio-row">
           <label for="video">{{videoType.Video}}</label>
           <input type="radio" id="video" [value]="videoType.Video" formControlName="type">
          </div>
          <div class="search__radio-row">
            <label for="channel">{{videoType.Channel}}</label>
            <input type="radio" id="channel" [value]="videoType.Channel" formControlName="type">
          </div>
          <div class="search__radio-row">
            <label for="playlist">{{videoType.Playlist}}</label>
            <input type="radio" id="playlist" [value]="videoType.Playlist" formControlName="type">
          </div>
        </div>
      </div>
      <div class="search__text small-16">
        <input class="search__field border-right small-12 column" placeholder="Введите ключевые слова для поиска" type="text" formControlName="searchText">
        <button class="button button-red button-submit small-4 column" [disabled]="form.invalid">Поиск</button>
      </div>
    </form>
  </section>
  <section class="search-result row small-16 small-up-2 medium-up-3 large-up-5">
    <ng-template ngFor let-video [ngForOf]="searchResult">
      <div class="column">
        <button class="button-play" (click)="getVieoById(video?.id?.videoId)">
          <img class="channel-item__pic" [src]="video?.snippet?.thumbnails?.high?.url" alt="">
        </button>
        <div class="channel-item__title">{{video.snippet.title}}</div>
      </div>
    </ng-template>
    <div class="video-wrapper" *ngIf="showIframe" (click)="closeIframe()">
      <app-video-item [isIframe]="true"
                      [item]="selectedItem">
      </app-video-item>
    </div>
  </section>
  <button class="more-videos button button-red"  [disabled]="isDisabled">Показать еще</button>
</article>
