@import "../../../assets/scss/base-part";
@import "../main.component";
.search__form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.search__filter {
  margin-top: 16px;
}
.search__field {
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px;
  height: 40px;
  background-color: #2d2e30;
  color: white;
  border: 1px solid white;
}
.max-result {
  max-width: 100px;
  margin-left: 16px;
}
.search__type {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.search__radio-row {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.search__radio-row label {
  width: 75px;
  display: block;
  cursor: pointer;
}
input[type=radio] {
  cursor: pointer;
}
.search__text {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.border-right {
  border-right: none;
}
.button-submit {
  height: 40px;
}
