@import "../../../assets/scss/base-part";

.swiper-container {
  width: 100%;
}
.swiper-container { overflow: hidden; display: flex; position: relative }
.swiper-wrapper {flex-grow: 1; display: flex; flex-wrap: nowrap!important;}
//.swiper-slide { flex: 1 0 0; text-align: center; }
.slider_button {
  bottom: -20px;
  @include mq-tablet {
    top: 0;
    bottom: auto;
    &.swiper-button-next { right: 2px;}
  }
}
.swiper-scrollbar {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 100%;
}
