@import "../../../assets/scss/base-part";

.swiper-container { width: 100%; overflow: hidden; display: flex; position: relative; padding-bottom: 55px }
.swiper-wrapper {flex-grow: 1; display: flex; flex-wrap: nowrap!important;}

//.slider_button {
//  bottom: -20px;
//  @include mq-tablet {
//    top: 0;
//    bottom: auto;
//    &.swiper-button-next { right: 2px;}
//  }
//}
.swiper-scrollbar { position: absolute; height: 2px; background-color: white; width: 100%; }
%swiper-button {
  position: absolute;
  bottom: 2px;
  height: 37px;
  width: 24px;
  cursor: pointer;
  @include mq-desctop {
    display: none;
  }
}
.swiper-button-prev { @extend %swiper-button; left: calc(50% - 85px);}
.swiper-button-next { @extend %swiper-button; right: calc(50% - 85px);}
