@import "../../assets/scss/base-part";

.title {
  font-size: 14px;
  font-weight: 500;
  @include mq-tablet {
    font-size: 18px;
  }
  @include mq-desctop {
    font-size: 21px;
  }
}
.title-wrapper {
  line-height: 40px;
  height: 40px;
  background: #2d2e30;
  margin: 20px 0;
  @include mq-tablet {
    margin: 30px auto;
  }
}

.main-title {
  height: 50px;
  line-height: 50px;
}
