<article class="row">
<!--    <div class="small-4 column">-->
<!--      <app-video-item></app-video-item>-->
<!--    </div>-->
  <div  class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper row small-up-3 medium-up-4">
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
      <div class="swiper-slide column">
        <app-video-item></app-video-item>
      </div>
    </div>

<!--    <div class="swiper-scrollbar">-->
<!--      <span class="swiper-scrollbar-lock"></span>-->
<!--    </div>-->
<button class="button" (click)="test()"></button>
  </div>
</article>
