@import '../base-part';

@import './_normalize';
@import './_grid';
@import './_visibility-classes';
@import './_alignment';


// *** Table of contents *** //
// #  0. Variables ...................|
// #  1. Typography classes ..........|
// #  2. Block elements...............|
// ## 2.1. Error Block Message
// ## 2.2. Info Block
// ## 2.3. Recaptcha
// #  3. Overlay .....................|
// #  4. Disabled block ..............|
// #  5. Payment systems logos .......|
// #  Other ..........................|


:active,
:focus {
  // border: none;
  box-shadow: none;
  outline: none
}


// ---------------------
// 1. Typography classes
// ---------------------

.no-bullet {
  margin-left: 0;
  list-style: none
}

.subtitle {
  font-size: 1.15385rem;
  letter-spacing: .015rem;
  margin: 0 0 1.538rem
}

.regular {
  font-weight: 400
}

.semibold {
  font-weight: 500
}

.bold {
  font-weight: 700
}

.underline {
  text-decoration: underline
}

.transparent {
  background-color: transparent;
}

.transfer__title {
  margin: 0 auto 7px;
  font-size: 28px;
  @include mq-desctop {
    font-size: 30px;
  }
}

// -----------------
// 2. Block elements
// -----------------

.wrapper {
  padding-left: 32px;
  padding-right: 32px;
}

@include mq-mobile-only {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px
  }
  .wrapper-search {
    padding: 0 16px;
  }
}

.no-wrap {
  flex-wrap: nowrap
}

.relative {
  position: relative;
}

.overflow {
  overflow: hidden
}

.mt4 {
  margin-top: 4px;
}


// --------------------------
// # 2.1. Error Block Message
// --------------------------
.block-error {
  position: relative;
  min-height: $control-height;
  margin-top: 10px;
  margin-bottom: 16px;
  padding: 1rem 1rem 10px 50px !important;
  border-radius: $global-radius;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  &.row:empty,
  &.row.column:empty,
  &:empty {
    display: none;
  }
  ul {
    margin-bottom: 0;
  }
}

// -----------------
// # 2.2. Info Block
// -----------------
.block-info {
  position: relative;
  min-height: 48px;
  margin-bottom: 32px;
  padding: 15px 16px 10px 48px;
  border-radius: $global-radius;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  margin-bottom: 16px;
}

// ----------------
// # 2.3. Recaptcha
// ----------------
.recaptcha-box {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
  z-index: 10000;
}


// ----------
// 3. Overlay
// ----------

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.grayscale {
  filter: grayscale(100%);
}


// -----------------
// 4. Disabled block
// -----------------

.disabled {
  opacity: .5;
  position: relative;
  &-info-text {
    margin-bottom: 20px;
    padding: 15px 16px 16px 48px;
    background-color: #fde9c5;
    background: #fde9c5 url(/assets/images/svg/circle_info_orange.svg) 16px 16px no-repeat;
    background-size: 16px 16px;
    border-radius: 2px;
    font-weight: 400;
    @include mq-mobile-only {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
  .disabled-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


// ------------------------
// 5. Payment systems logos
// ------------------------

.icon-ms {
  background-image: url(/assets/images/cards/card_mc.svg);
  background-size: 38px 34px;
  display: block;
  width: 38px;
  height: 34px
}
.icon-visa {
  background-image: url(/assets/images/cards/visa-blue.svg);
  background-size: 42px 14px;
  display: block;
  width: 42px;
  height: 14px
}
.icon-prostir {
  background-image: url(/assets/images/cards/logo_prostir.svg);
  background-size: 63px 12px;
  display: block;
  width: 63px;
  height: 12px
}


// -------------------
// Other .............
// -------------------

.profile-payments_info {
  background: #edf6fe url(/assets/images/info-blue.png) 16px 16px no-repeat;
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 1.92308rem;
  padding: 1.15385rem .76923rem 1.07692rem 3.76923rem
}
