@import "../../../../assets/scss/base-part";
@import "../../main.component";

.search__form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.search__filter {
  margin-top: 16px;
}
.search__field {
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px;
  height: 40px;
  background-color: #2d2e30;
  color: white;
  border: 1px solid white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.max-result {
  max-width: 100px;
  margin-left: 16px;
}
.search__type {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.search__radio-row {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.search__radio-row label {
  width: 75px;
  display: block;
  cursor: pointer;
}
input[type=radio] {
  cursor: pointer;
}
.search__text {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 16px;
}
.border-right {
  border-right: none;
}
.button-submit {
  height: 40px;
}
.button-play {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  &:hover {
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(45, 46, 48, .34);
      background-image: url("../../../../assets/images/ic-video-play.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(45, 46, 48, .39);
  padding: 100px 10px 0;
  transition: background-color .3s;
  @include mq-tablet {
    padding: 150px 50px 0;
  }
}
.search-result {
  margin: 0;
}
.more-videos {
  margin-bottom: 20px;
}
