@import "../../../../../assets/scss/base-part";
.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(45, 46, 48, .39);
  padding: 100px 10px 0;
  transition: background-color .3s;
  @include mq-tablet {
    padding: 150px 50px 0;
  }
}
