@import 'assets/scss/style.scss';
html {
  background-color: #0d0d0d;
}
.button {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: .3s;
}
.button-red {
  background: #ff0000;
  &:hover {
    background: darken(#ff0000, 20%);
  }
}
.button-grey {
  background: #bebebe;
  &:hover {
    background: darken(#bebebe, 20%);
  }
}
.button-red[disabled] {
  background: lighten(#ff0000, 20%);
  cursor: not-allowed;
}
