.video-item {
  min-width: 152px;
  &__title {
    font-weight: 500;
    font-size: 16px;
    height: 48px;
  }
  &__link {
    display: inline-block;
    margin-top: 8px;
  }
  &__pic {
    border-radius: 4px;
    transition: .3s;
    &:hover {
      box-shadow: 1px 1px 5px 1px rgba(255, 0, 0, 0.56);
      transform: scale(1.1);
    }
  }
  &__description {
    display: inline-block;
    max-height: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    word-break: break-word;
    margin-top: 12px;
  }

}
