<article>
  <section class="subscription">
    <div class="subscription__title title">Мои подписки</div>
    <app-swiper-container>
      <div *ngFor="let subscription of mySubscriptions" class="swiper-slide column">
        <app-video-item  [item] = subscription> [isVideo]=false
        </app-video-item>
      </div>
    </app-swiper-container>
    <a href="/main/subscriptions">Перейти ко всем подпискам</a>
  </section>
  <section class="liked-video">
    <div class="liked-video__title title">Понравившиеся</div>
    <app-swiper-container>
      <div *ngFor="let likedItems of myLiked" class="swiper-slide column">
        <app-video-item  [item]=likedItems [isVideo]=true>
        </app-video-item>
      </div>
    </app-swiper-container>
    <a href="/main/playlists">Перейти ко всем видео</a>
  </section>
  <section class="popular-channels">
    <div class="popular-channels__title title">Понравившиеся</div>
    <app-swiper-container>
      <div *ngFor="let popularItem of popular" class="swiper-slide column">
        <app-video-item  [item]=popularItem [isVideo]=true>
        </app-video-item>
      </div>
    </app-swiper-container>
    <a href="/main/playlists">Перейти ко всем Популярным</a>
  </section>
  <button class="button" (click)="getPopularVideos('mostPopular', 'UA')">getPopularVideos</button>
</article>

